{% extends 'layout.html.twig' %}
{%  block style %}<link rel="stylesheet" href="{{ asset('css/style_home.css') }}">{% endblock %}
{% block main %}

    {{ form_start(sortieForm) }}
    <div class="formHome row">
        <div class="formHome col-sm-1 col-lg-5">

            {{ form_row(sortieForm.campus) }}

            {{ form_row(sortieForm.nom) }}
            <div class="form-group">
                <label for="">Entre</label>
                {{ form_row(sortieForm.datedebut) }}
            </div>
            <div class="form-group">
                <label for="">et</label>
                {{ form_row(sortieForm.datefin) }}
            </div>

        </div>
        <div class="formHome-col col-sm-1 col-lg-4">
            {{ form_row(sortieForm.SortieOrganisateur) }}
            {{ form_row(sortieForm.SortieInscrit) }}
            {{ form_row(sortieForm.SortieNonInscrit) }}
            {{ form_row(sortieForm.SortiePassee) }}
        </div>
        <div class="col-sm-1 col-lg-2">
            <div>
                {% if (user) %}
                    Date du jour : {{ 'now' | date('d/m/y') }}
                    Participant : {{ app.user.pseudo }}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-dark">Rechercher</button>
        </div>

    </div>
    {{ form_end(sortieForm) }}

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% dump(todayConvert())  %}


        {% for sortie in sorties %}
            {% if sortie.datedebut > todayConvert() %}

        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.datedebut|date('d/m/y - H:i') }}</td>
            <td>{{ sortie.datecloture|date('d/m/y') }}</td>
            <td>
                {% set nbrInscriptions = 0 %}
                {% for inscription in inscriptions %}
                    {% if inscription.sortie.id == sortie.id %}
                        {% set nbrInscriptions = nbrInscriptions + 1 %}
                    {% endif %}
                {% endfor %}
                {{ nbrInscriptions }}/{{ sortie.nbInscriptionMax }}
            </td>
            <td>
                {{ sortie.etat.libelle }}</td>
            <td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% for inscription in inscriptions %}
                    {% if app.user != null and inscription.sortie.id == sortie.id and inscription.participant.id == app.user.id %}
                        X
                    {% endif %}
                {% endfor %}
                {% endif %}


            </td>
            <td>{{ sortie.organisateur.pseudo }}</td>
            <td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if sortie.etat.libelle == 'Créée' and sortie.organisateur.id == app.user.id%}
                <a href="{{ path('sortie_update', {'id' : sortie.id}) }}">Modifier</a>
                <a href="{{ path('sortie_delete', {'id' : sortie.id}) }}">Annuler</a>
                    {% endif %}
                {% endif %}
                {% if sortie.etat.libelle == 'Ouverte' %}
                <a href="{{ path('main_home') }}">S'inscrire</a>
                <a href="{{ path('main_home') }}">Se désinscrire</a>
                {% endif %}
                {% if(sortie.datecloture > "now" and sortie.etat.id == 2) %}
                    <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                {% endif %}
                {% if(sortie.datedebut > "now") %}
                    <a href="{{ path('sortie_desister', {'id': sortie.id}) }}">Se désister</a>
                {% endif %}
            </td>
        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
<div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<button class="btn btn-light"><a href="{{ path('sortie_add')}}">Créer une sortie</a></button>
    {% endif %}
</div>

{% endblock %}