<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="{{ path('main_home') }}"><img src="{{ asset('img/logo2.png') }}" class="logo" alt="logo">TuSors.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if app.user !=null %}
                {% for role in app.user.roles %}
                    {%if role == 'ROLE_ADMIN' %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('admin_registeruser') }}" aria-disabled="true">Créer utilisateur</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('admin_userroles') }}" aria-disabled="true">Gestion utilisateurs</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#" aria-disabled="true">Ville</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" aria-disabled="true">Campus</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if app.user != null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('main_home') }}" aria-disabled="true">Accueil</a>
            </li>
            {% endif %}
            {% if app.user == null %}
            <li class="nav-item ">
                <a class="nav-link" href="{{ path('app_login') }}" aria-disabled="true">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('register') }}" aria-disabled="true">S'inscrire</a>
            </li>
            {% endif %}
            {% if app.user != null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_profil') }}" aria-disabled="true">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}" aria-disabled="true">Se déconnecter</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>