{% extends 'layout.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="container">
    <div class= "text-align: center">
        <h1> Créer une sortie </h1>
    </div>


         <form>
             {{ form_start(sortieForm, {'method': 'GET'}) }}
             <div class="form-row">
                 <div class="form-group col-md-6">
                     {{ form_row(sortieForm.nom)}}
                 </div>
             <div class="form-row col-md-6">
                 <label> Campus : </label>
             </div>
             </div>
             <di class="form-row">
                 <div class="form-group col-md-6">
                     {{ form_row(sortieForm.datedebut) }}
                 </div>
                 <div class="form-group col-md-6">
                     <label> Ville : </label>
                 </div>
             </di>
             <div class="form-row">
                 <div class="form-group col-md-6">
                     {{ form_row(sortieForm.datecloture)}}
                 </div>
                 <div class="form-group col-md-6">
                     <label> Lieu : </label>
                 </div>
             </div>
             <div class="form-row">
                <div class="form-group col-md-2">
                    {{ form_row(sortieForm.nbInscriptionMax)}}
                 </div>
                 <div class="form-group col-md-6">
                     <label> Rue : </label>
                 </div>
             </div>
             <div class="form-row">
                 <div class="form-group col-md-2">
                     {{ form_row(sortieForm.duree)}}
                 </div>
                 <div class="form-group col-md-6">
                     <label> Code postal : </label>
                 </div>
             </div>

             <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(sortieForm.descriptionInfos)}}
                </div>
                <div class="form-group col-md-4">
                    <div class="form-row">
                        <label> Latitude : </label>
                    </div>
                    <div class="form-row">
                    <label> Longitude : </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                <button class="btn btn-primary" type="submit">Enregistrer</button>
                    <button class="btn btn-dark" type="reset">Annuler</button>
                    {{ form_end(sortieForm) }}
                </div>
            </div>
        </form>
     </div>
{% endblock %}