{% extends 'layout.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="container">
        <h1 class= "text-align: center"> Créer une sortie </h1>

        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.datedebut) }}
        {{ form_row(sortieForm) }}
        <div class="mt-1">Campus : {{ sortie.campus.nomCampus }}</div>
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
        <a href="{{ path('sortie_addLieu') }}"><i class="fas fa-plus-circle"></i></a>
    </div>

    <footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ asset('app.js') }}"></script>
    </footer>

{% endblock %}

