{% extends 'layout.html.twig' %}

{% block title %}Description de la sortie{% endblock %}






{% block body %}

    <div class="nom">{{ Sortie.nom }}</div>
    <div class="dateDebut">({{ Sortie.datedebut|date("Y-m-d H:i") }})</div>
    <div class="duree">{{ Sortie.duree }}</div>
    <div class="dateCloture">({{ Sortie.datecloture|date("Y-m-d H:i") }})</div>
    <div class="nbInscriptionMax">{{ Sortie.nbInscriptionMax }}</div>
    <div class="description">{{ Sortie.duree }}</div>
    <div class="photo">{{ Sortie.urlPhoto }}</div>
    <div class="etat">{{ Sortie.etat }}</div>
    <div class="organisateur">{{ Sortie.organisateur }}</div>
    <div class="campus">{{ Sortie.$campus }}</div>
    <div class="inscription">{{ Sortie.inscription }}</div>



{% endblock %}



{% block footer %}
{% endblock %}
