<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mathieu Chenoun, Sylvain Garcia, Nicolas Champion, Jessy Mercer">
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/logo2.png') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>{% block title%}Sortir.com{% endblock %}</title>
</head>
<body>
<header>
    {% include('include/nav.html.twig') %}
    {% block header %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</header>

<main>
    {% block main %}

    {% endblock %}
</main>

<footer>
    {% block footer %}

    {% endblock %}
</footer>
</body>
</html>